* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body {
    overflow: auto;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

.noInternet-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.noInternet-container {
    width: 700px;
    padding: 20px;
}

.error-img {
    display: block;
}

.error-img img {
    width: 70px;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #202020;
}

p {
    font-size: 14px;
    line-height: 1.6;
    color: #6c6c6c;
}

.details {
    font-size: 14px;
    line-height: 1.6;
    color: #6c6c6c;
}

ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #0062ff;
    text-decoration: none;
}

/*-----Document----*/
.document-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}

.document-container {
    width: 700px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.document-container h1 {
    font-size: 3rem;
    text-align: center;
}

.document-container p {
    font-size: 1.3em;
    color: black;
    text-align: justify;
    text-indent: 50px;
}

.document-container ul {
    font-size: 1.1rem;
    padding-left: 50px;
}