* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url(page-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.first-interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    cursor: pointer;
}

.first-interface p {
    color: gold;
    font-size: 2rem;
}